############################
# npm
############################
node_modules
npm-debug.log

############################
# openbiz
############################
!node_modules/openbiz
!node_modules/openbiz-ui
!node_modules/openbiz-cubi
!node_modules/openbiz-appbuilder
