doctype html
html(lang='en')
    head
        // Meta information
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
        meta(name="apple-mobile-web-app-capable",content="yes")
        meta(name="apple-mobile-web-app-status-bar-style",content="black-translucent")
        // Title
        title Openbiz 4.0 - Startup!
        // Favicons
        link(rel='apple-touch-icon-precomposed', sizes='144x144', href='website/images/ico/apple-touch-icon-144-precomposed.png')
        link(rel='apple-touch-icon-precomposed', sizes='114x114', href='website/images/ico/apple-touch-icon-114-precomposed.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='website/images/ico/apple-touch-icon-72-precomposed.png')
        link(rel='apple-touch-icon-precomposed', href='website/images/ico/apple-touch-icon-57-precomposed.png')        
        link(rel='apple-touch-startup-image', href='website/images/splash-screen.png')
        link(rel='shortcut icon', href='website/images/ico/favicon.ico')
        // CSS Stylesheet
        link(type='text/css', rel='stylesheet', href='lib/openbiz/vendor/openbiz/openbiz.css')
        link(href="/website/styles/my-platform-custom.css",rel="stylesheet")

        script(src="lib/openbiz/vendor/require/require.js",data-main="lib/openbiz/main")
        script(src="website/app-init.js")
    body.full-lg
        div#wrapper